@import '../../globals/variables.less';

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

cma-button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

cma-button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

cma-button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

cma-button-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-default {
  color: #fff;
  background: @primary-color;
  border-color: #007bff
}
.btn-primary {
  color: #fff;
  background: @primary-color;
  border-color: #007bff
}
.btn-success {
  background: @primary-color
}
.btn-info {
  background: @primary-color
}
.btn-warning {
  background: red
}
.btn-danger {
  background: @primary-color
}
.btn-inverse {
  background: @primary-color
}